*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

a{
    color: antiquewhite;
    text-decoration: none;
    
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-content {
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.logo{
    font-size: 30px;
    background-color: #63eef3;
    color: #080808;
}

.navbar .logov{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size:20px ;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: rgb(173, 247, 116);
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
     background-image:url("index11.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:70px;

}

.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke:.7px #e8f0e3;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}


.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right:2px solid #080808;
    color: #0f050e;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}


@keyframes display-text{
    25%,
    100% {
        display: none;
    }
}

@keyframes fill-text {
    10%,
    100% {
        width: 0;
    }

    70%,
    90%{
        width:100% ;
    }
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #6af8f8;
    border: 2px solid #060a0c;
    border-radius: 40px;
    box-shadow: 0 0 10 #7cf03d;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: 5s;

}

.btn:hover {
    background-color: transparent;
    color: #f573d4;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #76d9eb;
    border-radius: 50px;
    font-size: 20px;
    color: #131012;
    margin: 0 8px;
    transition: 5s;
}

.home-info .btn-sci .sci a:hover {
    background-color: #63eef3;
    color: black;
    box-shadow: 0 0 10px #020202;
}

.home-img .img-box {
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradiat(transparent,transparent,transparent, );
}

.home-img .img-box .img-item {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color:rgb(37, 34, 34);
    border-radius: 50%;
    border: 1px solid  rgb(37, 34, 34);
    display: flex;
    justify-content: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    margin-top:60px;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
    
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background-color:rgb(37, 34, 34) ;
    transform: translateY(-100%);
    animation:show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100%{
        transform: translateY(0%);
    }
}